/* Resetando alguns estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #2c0d5a; /* Roxo escuro */
  color: #fff;
}

/* Estilo do Hero Section */
.hero {
  background: linear-gradient(135deg, #6a1b9a, #9c27b0); /* Gradiente roxo */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 1.9rem;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.hero .content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  animation: fadeIn 3s ease-in-out;
}

.hero .btn {
  background: #f50057;
  padding: 12px 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background 0.3s ease;
}

.hero .btn:hover {
  background: #ff4081;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Estilo da seção "Sobre" */
.sobre {
  padding: 60px 20px;
  text-align: center;
  background: #7b1fa2; /* Roxo mais claro */
}

.sobre h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}

.sobre p {
  font-size: 1.2rem;
  color: #eee;
  max-width: 700px;
  margin: 0 auto;
}

/* Estilo do footer */
footer {
  background: #2c0d5a;
  padding: 20px;
  text-align: center;
  color: #ddd;
}

footer p {
  font-size: 1rem;
}

/* Carrossel */
.carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  overflow: hidden;
  height: 600px; /* Altura fixa para o carrossel */
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: 10%;
  object-fit: cover; /* Garantir que a imagem preencha o espaço */
  border-radius: 10px;
}

/* Botões de navegação */
.prev, .next {
  position: absolute;
  top: 140%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 20%;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
